body {
    background-color:#fff;
}

div.img {
    width:800px;
    height:600px;
    background-repeat:no-repeat;
    background-position:center;
}

h1 { 
     font-size: 4em;
     font-family: "Montserrat", sans-serif;
     color: black;
}

ul { 
      background-color:rgba(240,230,220,0.5);
      padding:10px;
      margin:10px;
}

ul.dark { 
      background-color:rgba(240,230,220,0.75);
}

table { 
      background-color:rgba(230,220,250,0.5);
           font-size: 2em;
        margin-left:  auto;
        margin-right:  auto;
}

li { 
     font-size: 2em;
     font-family: "Alef", sans-serif;
     color:#1F1209;
         padding: 10px;
     }

td,th { 
     padding: 10px;
 }

h2{ 
     font-size: 2.5em;
     font-family: "Montserrat", sans-serif;
     color: #47423F;
     background-color:rgba(250,240,230,0.7);
     padding: 10px;
}

h3 { 
     font-size: 2em;
     font-family: "Lato", sans-serif;
     color: DarkSlateGray;
     padding: 5px;
}

span.ugr { 
           color: Red;
}

span.s2{ 
          color: #002A8F;
 }

h2.figures { 
        font-size: 2.5em;
        font-family: "Alef", sans-serif;
        color: DarkSlateGray;  
        }

p {
    font-size: 2em;
    font-family: "Telex", sans-serif;
    color: #2f4f4f ;
 }

p.image { 
          position: absolute;
          bottom:  0;
          left: 0;
          font-size: 1em;
          background-color:rgba(230,240,250,0.5);
 }

div.slidenumber { 
          position: fixed;
          padding: 5px;
          bottom:  0;
          right: 0;
                  font-family: "Telex", sans-serif;
          font-size: 1.2em;
          background-color:rgba(230,240,250,0.5);
 }

.step
{
	position: relative;
	width: 850px;
	padding: 50px;
	margin: 0 auto;
	background-color: #FAF0E6;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

code { 
       font-family: Lekton, Courier, Courier New, monospace;
       font-size: 1.1em;
       background-color: black;
       color: lightgreen;
       font-weight:bold;
       margin: 2px;
       padding: 2px;
       -moz-border-radius: 10px;
       border-radius: 10px;
}

abbr {
       cursor:help; 
       border-bottom: 2px dotted DarkBlue;
}


